<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>
    <!----CSS link----->
    <link rel="stylesheet" href="temp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

   <!----Navigation Header Section----->
    <div class="hero">
        <nav>
            <h3 class="logo">The <span> Aaditya </span></h3>
            <ul>
                <li><a href="../helloworld.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <!--<div class="content">
            <span class="title">Freelance Web Developer</span>
            <h1>नमस्ते, म <span> दि आदित्य </span></h1>
            <p>I’m working on a professional, visually sophisticated and technologically 
                proficient, responsive and multi-functional React Template Imroz. 
            </p>
            
            
        </div>-->
    </div>

    <!---Body Section---->

   <!---- <p class="essay1"> Section : Essay </p>
       
            <table class="table1">
                <tr>
                    <th> S.N. </td>
                    <th> Title </th>
                    <th> Links </th>
                </tr>
                <tr>
                    <td> 1. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 2. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 3. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 4. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 5. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 6. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 7. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 8. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 9. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 10. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 11. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 12. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 13. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 14. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 15. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 16. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 17. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 18. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 19. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 20. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 21. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 22. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 23. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 24. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 25. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 26. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 27. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 28. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 29. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 30. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 31. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 32. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 33. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 34. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 35. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 36. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 37. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 38. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 39. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 40. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 41. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 42. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 43. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 44. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 45. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 46. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 47. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 48. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 49. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 50. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
                <tr>
                    <td> 51. </td>
                    <td> Colours in Nature</td>
                    <td> <a href="#"> Essay </a> </td>
                </tr>
            </table>-->

   <!----Footer Section----->

<footer class="footer-distributed">

    <div class="footer-left">
        <h3>The <span> Aaditya </span> </h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
            |
            <a href="#">Blog</a>
        </p>

        <p class="footer-company-name">Copyright © 2023 <strong>The Aaditya</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Kathmandu</span>
                Nepal</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+977 - 9826758966
            </p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="explorenepal2023@gmail.com">explorenepal2023@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            <strong>The Aaditya</strong> is a Youtube channel where you can find more creative CSS Animations
            and
            Effects along with
            HTML, JavaScript and Projects using C/C++.
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
</body>
</html>